body {
  font-family : Verdana;
  padding : 16px;
}

p {
  padding : 4px;
}

pre {
  margin : 16px;
  padding : 16px;
  background-color : #f5f5f5;
  border : solid;
  border-width : 1px;
  border-color : gray;
}

li {
  padding : 4px;
}

.examples-table {
  width : 90%;
  border : solid;
  border-width : 1px;
  border-color : gray;
}

.examples-table tr td {
  border : solid;
  border-width : 1px;
  border-color : gray;
  width : 50%;
  padding:8px;
  vertical-align:top;
  text- align:left;
  white-space:pre;
  font-family:"Courier",courier;
  background-color : #f5f5f5;
}
